body {
  background: lightcoral;
}

.body-wrap {
  width: 80%;
  padding: 5px 40px 5px 40px;
}

#header {
  height: 60px;
  padding: 20px;
  text-align: center;
}

.logo {
  background: red;
  width: 10%;
  height: 100%;
  display: inline-block;
  margin-right: 20px;
}

.header-nav {
  background: white;
  width: 60%;
  height: 100%;
  display: inline-block;
  margin: 0 40px 0 20px;
}

.header-nav div {
  display: inline-block;
  margin-left: 20px;
}

.search {
  background: lightgrey;
  width: 10%;
  height: 100%;
  display: inline-block;
}

.body-content {
  padding-top: 10px;
  text-align: center;
}

.body-content div {
  padding: 10px 0 10px 0;
  min-height: 400px;
}

.banner {
  background: lightblue;
  width: 70%;
  height: 100%;
  display: inline-block;
}

.recent {
  background: lightblue;
  width: 25%;
  height: 100%;
  display: inline-block;
}
